.actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  margin-top: 24px;
  margin-left: 8px;
}

.actions button[mat-icon-button] {
  transform: scale(1.2);
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}

.actions button[mat-icon-button]:hover {
  transform: scale(1.3);
}

.actions button[mat-stroked-button] {
  padding: 4px 12px;
}
